*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: mediumvioletred;
    opacity: 0.9;
}

#newGame{
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    font-family: "Bodoni MT Condensed", sans-serif;
    color: black;
    background-color: white;
    width: 300px;
    border-radius: 50px;

}
#plateau{
    width: 1200px;
    height: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 20px;
}

.joueur{
    border: 2px solid black;
    background-color: aliceblue;
}


.hold, .rollDice{
    display: flex;
    align-items: center;
}



.nameJ{
    font-size: 50px;
    font-family: "Bodoni MT Condensed", sans-serif;
    text-align: center;
    margin: 20px 0;
}

.scoreT{
    font-size: 5.5rem;
    text-align: center;
    margin: 0 0 80px 0;
}

.scoreC{
    margin: 0 auto;
    text-align: center;
    border-radius:50px ;
    font-size: 3rem;
    background-color: blue;
    width: 50%;
}

.currentNumber{
    font-size: 5rem;
 }

 .imgHold img, .dice img{
    width: 150px;
     cursor: pointer;
}

.imgRollDice img{
    width: 200px;
    cursor: pointer;
}

.btn{
    display: flex;
    margin: 50px 0 0 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@keyframes light {
    0%{
        border: 2px dashed deeppink;
    }

    50%{
        background: deeppink;
        opacity: 0.5;

    }

    100%{
        background: deeppink;
        opacity: 1;
    }
}

.animDice{
    animation: light 1s alternate;
}

.animDice2{
    animation: light 2s linear;
}

@media screen and (max-height: 800px)  {
    #plateau{
        width: 900px;
        height: 80vh;
        margin: 20px auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .joueur{
        border: 2px solid black;
        background-color: aliceblue;
    }
}